@font-face {
  src: url("fonts/everett.otf");
  font-family: "everett";
}

@font-face {
  src: url("fonts/digi.TTF");
  font-family: "digi";
}

@font-face {
  src: url("fonts/berthold.ttf");
  font-family: "berthold";
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-size: cover;
  background-position: 50% 50%;
}

::-webkit-scrollbar {
  display: none;
}

.header_container {
  position: fixed;
  display: flex;
  width: 100vw;
  height: auto;
  top: 0vw;
  left: 0;
  font-family: "everett";
  font-size: 20px;
  z-index: 99;
}

.header_desktop {
  font-size: 20px;
  padding-top: 40px;
  padding-left: 45px;
  width: 50%;
  color: rgb(100, 100, 100);
}

a.header_desktop {
  text-decoration: none;
}

a.header_desktop:hover {
  color: white;
  transition-duration: 1s;
}

.container_one {
  position: relative;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  display: block;
  float: left;
}

.container_two {
  position: relative;
  width: 50vw;
  height: 100vh;
  right: 0;
  overflow: hidden;
  float: left;
}

.wrapper {
  position: relative;
  height: auto;
  width: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.audio_container {
  position: relative;
  margin: auto;
  background: url("images/paradigm_audio.png");
  background-size: cover;
  width: 128px;
  height: 128px;
  border: 1px solid rgb(100, 100, 100);
}

.pdf_container {
  position: relative;
  margin: auto;
  display: flex;
  background-size: cover;
  width: auto;
  height: 128px;
  justify-content: center;
}

.text {
  position: relative;
  text-align: center;
  padding-bottom: 0;
  color: rgb(100, 100, 100);
  font-family: "everett";
  font-size: 20px;
}
a.newsletter_text {
  text-decoration: none;
  position: absolute;
  font-size: 20px;
  width: 100%;
  color: rgb(100, 100, 100);
  font-family: "everett";
  bottom: 0;
  left: 0;
  text-align: left;
  padding-bottom: 40px;
  padding-left: 45px;
}

a.newsletter_text:hover {
  color: white;
  transition-duration: 1s;
}
